*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(128deg, #00aaff, #00ff6c, #bb24ce);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 4s ease infinite;
  -moz-animation: AnimationName 4s ease infinite;
  -o-animation: AnimationName 4s ease infinite;
  animation: AnimationName 4s ease infinite alternate-reverse;
  .calculator-grid {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
    justify-content: center;
  }
  .span-two {
    grid-column: span 2;
  }
  .output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    align-items: flex-end;
    justify-content: space-around;
    padding: 0.75rem;
    word-break: break-all;
    .previous-operand {
      color: rgba(255, 255, 255, 0.75);
      font : {
        size: 1.5rem;
      }
    }
    .current-operand {
      color: rgba(255, 255, 255, 0.75);
      font : {
        size: 2.5rem;
      }
    }
  }
  button {
    cursor: pointer;
    font : {
      size: 2rem;
    }
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
    &:hover,
    &:focus {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 9%;
  }
  50% {
    background-position: 100% 92%;
  }
  100% {
    background-position: 0% 9%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 9%;
  }
  50% {
    background-position: 100% 92%;
  }
  100% {
    background-position: 0% 9%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 9%;
  }
  50% {
    background-position: 100% 92%;
  }
  100% {
    background-position: 0% 9%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 9%;
  }
  50% {
    background-position: 100% 92%;
  }
  100% {
    background-position: 0% 9%;
  }
}

